 *{
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
        h1{
           font-weight: bold;
           color: #5f7ea6;
        }
        body{
            background-color: antiquewhite;
        }
        .form{
            display: flex;
            margin-bottom: 20px;
            gap: 10px;
        }
        .container{
            display: flex;
            flex-direction: column;
            align-items: left;
            gap: 20px;
            margin-left: 20px;
        }
        input[type="text"]{
          padding: 10px 12px;
          border-radius: 8px;
          border: 1px solid #ddd7cf;
          flex: 1;
        }
       
        button{
          padding: 10px 20px;
          border: none;
          border-radius: 999px;
          background-color: #5f7ea6;
          color: white;
          cursor: pointer;
          transition: transform 0.2s, background 0.2s;
        }
       
        button:hover{
          background-color: #5f7ea6;
          transform: translateY(-2px);
        }
        ul{
          list-style: none;
          padding: 0;
          width: 100%;
          max-width: 500px;
          display: flex;
          flex-direction: column;
          gap: 12px;
        }
        li{
            display: flex;
            align-items: center;
            padding: 10px;
            border-bottom: 1px solid #f0f0f0;
            gap: 12px;
        }
